@font-face {
    font-family: Game;
    src: url(font/Games.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Game;
}
body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
canvas{
    background-color: black;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
}
.score--value{
    font-weight: 700;
    font-size: 4.5em;
    display: block;
    margin-top: -10px;
}
.menu-screen{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.game-over{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
}
.final-score{
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
}
.btn-play{
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1em;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor:pointer
}